<a href="https://colab.research.google.com/github/luth-prog/my_repository/blob/main/Aula01_un3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sqlite3

# 1. Conectar ao banco de dados (ou criar um noove).
# usando a função connect do modulo sqlite3 para se conectar a um banco de dados sqlite
# chamado "exemplo.db". Se o banco de dados não existir, ele será criado automaticamente
conn = sqlite3.connect('exemplo.db')


# 2. Cria um objeto cursor
# O cursor é usado para executar comandos SQL no banco de dados
# Ele atua como uma espécie de ponteiro que percorre os resultados de consultas.
cursor = conn.cursor()


# 3. Definir o comando SQL para criar a tabela.
#define uma string create_table que contem um comando SQL para criar uma tabela chamada "Produtos"
# Está tabela terá quatro culunas: id (chave primária), nome (texto), preco (numero real) e estoque (numero inteiro).
# O IF NOT EXISTS garante que a tabela só será criada se ainda não existir
create_table = """
    CREATE TABLE IF NOT EXISTS Produtos (
      id INTEGER PRIMARY KEY,
      nome TEXT NOT NULL,
      preco REAL NOT NULL,
      estoque INTEGER
    );
"""


# Usa o método execute do objeto cursor para executar o comando SQL definido anteriormente e criar a tabela no banco de dados.
# 4. Executar o comando SQL para criar a tabela.
cursor.execute(create_table)


# 5. Confirmar as alterações (commit)
# Após a execução bem-sucedida do comando SQL, usa o método commit no objeto de conexão (conn) para confirmar as alterações no banco de dados.
# Isso garante que as alterações sejam efetivamente aplicadas.
conn.commit()


# 6. Fechar a conexão com o banco de dados
# Finalmente, você usa o metodo close no objeto de conexão para encerrar a conexão com o banco de dados.
# É uma pratica recomendada fechar a conexão após a conclusão das operações, para liberar recursos e evitar possiveis problemas de concorrência.
conn.close()

In [3]:
# Adicionando novo produto
import sqlite3

# Conectando com o banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# Dados do novo produto
novo_produto = ('Tenis', 199.90, 40)

# Comando SQL para inserir o novo produto na tabela
inserir_produto = "INSERT INTO Produtos (nome, preco, estoque) VALUES (?, ?, ?)"

# Executando o comando SQL para inserção
cursor.execute(inserir_produto, novo_produto)

# Confirmando as alterações
conn.commit()

# Fechando a conexão
conn.close()

In [4]:
# Visualizar produto
# Conectando ao banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# Comando SQL para selecionar todos os produtos
selecionar_produtos = "SELECT * FROM Produtos"

# Executando o comando SQL
cursor.execute(selecionar_produtos)

# Obtendo todos os registros e exibindo-os
produtos = cursor.fetchall()
for produto in produtos:
  print(produto)

(1, 'Tenis', 199.9, 40)

In [ ]:
# Atualizar o produto
import sqlite3

# Conectando com o banco de dados
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# Novo preço e ID do produto a ser atualizado
novo_preco = 23.99
produto_id = 6 # Suponhamos que queremos atualizar o produto com ID 6.

# Comando SQL para atualizar os produtos
atualizar_preco = "UPDATE Produtos SET preco = ? WHERE id = ?"

# Executar o comando SQL de atualização
cursor.execute(atualizar_preco, (novo_preco, produto_id))

# Confirmando alterações
conn.commit()

# Finalizando a conexão
conn.close()

In [ ]:
# Excluindo um produto

import sqlite3

# Conectando ao banco de dados.
conn = sqlite3.connect('exemplo.db')
cursor = conn.cursor()

# Selecionando o pruduto a ser excluido
produto_id = 7 # Suponhamos que queremos excluir o produto de id 7.

# Commando SQL para excluir o produto
excluir_produto = "DELETE FROM Produtos WHERE id = ?"

# Executar o comando SQL
cursor.execute(excluir_produto, (produto_id,)) # Added a trailing comma here

# Confirmando alterações
conn.commit()

# Encerrando conexão
conn.close()

In [20]:
# Importando a biblioteca
import sqlite3

# Conectando o banco de dados
conn = sqlite3.connect('contatos.db')
cursor = conn.cursor()

#Criando o banco de dados
conn.execute("""
  CREATE TABLE IF NOT EXISTS contatos (
    id INTEGER NOT NULL PRIMARY KEY,
    nome TEXT NOT NULL,
    telefone TEXT NOT NULL,
    email TEXT NOT NULL
  );
""")

conn.commit()

novos_contatos = [
    ('João', '11979590643', 'joao@gmail.com'),
    ('Luiz', '11979590648', 'luiz@gmail.com'),
    ('Maria', '11959580645', 'maria@gmail.com')
]

cursor.executemany("INSERT INTO contatos (nome, telefone, email) VALUES (?, ?, ?)", novos_contatos)
conn.commit()

cursor.execute("SELECT * FROM contatos")
contatos = cursor.fetchall()
for contato in contatos:
  print(contato)
conn.commit()

novo_numero = '11986754323' # Novo número que será adicionado
contato_id = 2 # Id do contato que receberá a mudança de numero

cursor.execute("UPDATE contatos SET telefone = ? WHERE id = ?", (novo_numero, contato_id))
conn.commit()

print(" ")
cursor.execute("SELECT * FROM contatos")
for contato in contatos:
  print(contato)
conn.commit()

delete_id = 1
cursor.execute("DELETE FROM contatos WHERE id = ?", (delete_id,))
conn.commit()

print(" ")
cursor.execute("SELECT * FROM contatos")
contatos = cursor.fetchall()
for contato in contatos:
  print(contato)

conn.commit()
conn.close()

(1, 'João', '11979590643', 'joao@gmail.com')
(2, 'Luiz', '11979590648', 'luiz@gmail.com')
(3, 'Maria', '11959580645', 'maria@gmail.com')

(1, 'João', '11979590643', 'joao@gmail.com')
(2, 'Luiz', '11979590648', 'luiz@gmail.com')
(3, 'Maria', '11959580645', 'maria@gmail.com')

(2, 'Luiz', '11986754323', 'luiz@gmail.com')
(3, 'Maria', '11959580645', 'maria@gmail.com')