<a href="https://colab.research.google.com/github/luth-prog/my_repository/blob/main/Aula2_un3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importando a biblioteca necessaria

import pandas as pd

# Criando uma lista de valores
exemplo01 = [10, 20, 30, 40, 50]

#Criando uma série a partir da lista
serie01 = pd.Series(exemplo01)

print(serie01)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [2]:
# Criando um dicionario com pares chave:valor
exemplo02 = {'A': 100, 'B': 200, 'C': 300, 'D': 400, 'E': 500}

# Criando a série a partir do dicionario criado
serie02 = pd.Series(exemplo02)

print(serie02)

A    100
B    200
C    300
D    400
E    500
dtype: int64

In [3]:
import pandas as pd

url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
dfs = pd.read_html(url)

print(type(dfs))
print(len(dfs))

<class 'list'>
1

In [4]:
df_bancos = dfs[0]

In [5]:
print(df_bancos.shape)

(25, 7)

In [6]:
print(df_bancos.dtypes)

Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

In [7]:
df_bancos.head()

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545

In [8]:
import pandas as pd

# Criando um dicionario com os dados dos clientes
dados = {
    'nome': ['Ruth', 'Luiz', 'Anna', 'Paulo'],
    'idade': [23, 22, 15, 25]
}

# Criando uma série a partir dos dados do dicionario
serie_idades = pd.Series(dados['idade'], index=dados['nome'])
# Exibindo a série de idades
print("Série de idades:")
print(serie_idades)
# Calcular a média das idades
media_idades = serie_idades.mean()
print("\nMédia das idades é: ", media_idades)

Série de idades:
Ruth     23
Luiz     22
Anna     15
Paulo    25
dtype: int64

Média das idades é:  21.25